In [2]:
import re

In [8]:
text='''my father is using two mobile phones, i only knows his one number 9993337770 ,i'm guessing the other number is (999)-555-1111'''
pattern='\(\d{3}\)-\d{3}-\d{4}|\d{10}'
matches=re.findall(pattern,text)
matches

['9993337770', '(999)-555-1111']

In [14]:
text='''Note 1 - Remarks
Conversion Note: This may be a rarely used metadata element within the journal metadata, because many journal DTDs choose not to recognize subtitles, placing both the title and the subtitle information into the article title element (<article-title>).

Note 2 - Related Elements
There are several elements concerned with the title of an article, all contained within the wrapper element <title-group> in the article metadata. The <article-title> is the full title of the article in the original language of the document'''
pattern='Note \d - ([^\n]+)'

In [15]:
matches=re.findall(pattern,text)
matches

['Remarks', 'Related Elements']

In [26]:
text='''Fahad lease vehicle in FY2021 Q1 was IND 300000
Ajmal lease veicle in fy2020 Q3 was IND 300040'''

#i need lease code and quarter and his price

pattern_lease='FY(\d{4} Q[1-4])[^IND]+ IND (\d+)'

lease=re.findall(pattern_lease,text,flags=re.IGNORECASE)
print('Lease and his price:',lease)

Lease and his price: [('2021 Q1', '300000'), ('2020 Q3', '300040')]

#### 1. Extract all twitter handles from following text. Twitter handle is the text that appears after https://twitter.com/ and is a single word. Also it contains only alpha numeric characters i.e. A-Z a-z , o to 9 and underscore _

In [35]:
twitter = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''
pattern='twitter.com\/([A-Za-z0-9\_]+)'
re.findall(pattern,twitter)

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

#### 2. Extract Concentration Risk Types. It will be a text that appears after "Concentration Risk:", In below example, your regex should extract these two strings

In [38]:
text='''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''
pattern = 'Concentration of Risk: ([A-Za-z ]+)'

re.findall(pattern, text)

['Credit Risk', 'Supply Risk']

#### 3. Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

In [8]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 Q1 was $8 billion.
'''
pattern='\$([0-9\.]+)'
re.findall(pattern,text)

['4.85', '8']

In [12]:
pattern='FY(\d{4} Q[1-4])[^$]+\$([\d\.]+)'
print(re.findall(pattern,text))

[('2021 Q1', '4.85'), ('2021 Q1', '8')]